body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #efefef;
    overflow-x: hidden;
    height: 100vh;
}

nav {
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    margin-right: 3vw;
    margin-top: 1vw;
}

nav ul li {
    margin: 0 15px;
}

.scroll-container {
    overflow-y: auto;
    height: 100vh;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10vw 150px 10vw;
}

.layer1 {
    background-image: url('../images/blob.svg');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    font-size: 3em;
    font-weight: 1000;
    color: #820882;
}

p {
    font-size: 1.25em;
    font-weight: 400;
    color: #820882;
    line-height: 1.4;
}

.text {
    font-size: 7.5em;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.text span {
    display: inline-block;
    font-size: 1em;
    transform-origin: 50% 50%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    flex-direction: row-reverse;
}

.image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: none;
    outline: none;
}

.section-image {
    max-width: 80%;
    height: auto;
}

.section-image,
.image-wrapper video, 
.image-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.text-rectangle {
    flex: 1;
    background-color: transparent;
    padding: 50px;
}

.text-rectangle p {
    font-size: 1.25em;
    font-weight: 400;
    color: #820882;
    line-height: 1.4;
}

.text-rectangle strong {
    font-size: 3.5em;
    color: #820882;
    font-weight: 450;
}

#self {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

#all-links a {
    text-decoration: none;
    font-size: 4.25em;
    color: #820882;
    font-weight: 500;
}

#links-view {
    display:none;
}

.button {
    background: none;
    border: none;
    color: #820882;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 1px 0 0 1px;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1024px) {

    .text {
        font-size: 5em;
        white-space: normal;
    }

    .layer1 {
        background-image: url('../images/opt_blob.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
    }

    .image-container {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        overflow-x: hidden;
        padding: 0;
    }

    .text-rectangle,
    .text-rectangle p {
        width: 100%;
        max-width: none;
    }

    #part1, 
    #part2, 
    #part3,
    #part4,
    #part5 {
        font-size: .75em;
    }

    #part2 .image-wrapper,
    #part3 .image-wrapper,
    #part4 .image-wrapper,
    #part5 .image-wrapper {
        order: 1;
        width: 100%;
        max-width: 100%;
    }

    #part2 .text-rectangle,
    #part3 .text-rectangle,
    #part4 .text-rectangle,
    #part5 .text-rectangle {
        order: 2;
    }

    #part2 video,
    #part3 video,
    #part4 video,
    #part5 video,
    #part2 img,
    #part3 img,
    #part4 img,
    #part5 img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    h2 {
        font-size: 2em;
        font-weight: 1000;
        color: #820882;
    }

    #self {
        display: none;
    }

    #names, 
    #all-links {
        font-size: .5em;
    }

    html, body {
        overflow-x: hidden;
    }
}

